
      <div class="Forgotpassword-board" fxLayout="column" fxAlign="center">
        <div fxLayout="10" fxLayoutAlign="center" class="flex">
          
          <mat-card-title class="matCardTitle" fxLayoutAlign="center">
      
              <h2> <span style="color:skyblue;font-weight:bold">f</span>
                <span style="color:orangered;font-weight:bold">u</span>
                <span style="color:yellow;font-weight:bold">n</span>
                <span style="color:skyblue;font-weight:bold">d</span>
                <span style="color:green;font-weight:bold">o</span>
                <span style="color:orangered;font-weight:bold">o</span>
                </h2>
          </mat-card-title>
        </div>

        <div>
  
          <div class="example-container">
          <div fxLayoutAlign="center center">
            <div>
              <p>EmailId</p>
            <mat-form-field appearance="outline" class="input-style">
            <div><input type="text" matInput placeholder="Enter EmailId*" [formControl]="emailId" required></div>
            <mat-error>this field is required</mat-error> 
          </mat-form-field>
            </div>
            
         
            <div><button mat-flat-button (click)="onForgotpassword()">submit</button></div>
        </div>
      
        
        