.board {
    height: 50%;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    border-color: #e0e0e0;
    border: 1px solid transparent;
}

.notes {
    height: 75%;
    width: 85%;
    margin-bottom: 1%;
    margin-left: 10%;
}

.cardAdjustment
{
    width: 500px;
    height: 65px;
    padding: 12px;


    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 3%;
    border-radius: 02%;
    box-shadow: 0 8px 16px 0 rgba(189, 83, 83, 0.459); 
    align-content: center 
}

.cardAdjustments
{
    width: 500px;
    height: 40px;
    padding: 12px;


    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 3%;
    border-radius: 02%;
    box-shadow: 0 8px 16px 0 rgba(189, 83, 83, 0.459); 
    align-content: center 

}
.adj
{
    height: 25px;
    width: 500px;
    border: none;
  
}
.adju
{
    width: 490px;
    height: 30px;
    border: none;
}

.cardAdjustment
{
    height: 100px;
}
.demo
{
    width: 490px;
    height: 30px;
    border: none;
}