<div fxLayout="column" fxLayoutAlign="start center" class="board">
    <mat-card class="cardAdjustments" *ngIf="!hide" (click)="popOut()">
        <mat-card-title>
            <input input type="text" matInput placeholder="Title" class="adj">
        </mat-card-title>
    </mat-card>

    <mat-card class="cardAdjustment" *ngIf="hide" [ngStyle]="{'background':paint}">
        <form [formGroup]="createNote">
            <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly">
                <div>
                    <input input type="text" matInput formControlName="title" placeholder="Title" class="demo" [ngStyle]="{'background':paint}">
                </div>
                <div>
                    <input input type="text" class="adju" formControlName="discription" matInput
                        placeholder="take a note.." [ngStyle]="{'background':paint}">
                </div>


                <div class="cardIcon" fxLayout="row" fxLayoutAlign="space-evenly center">

                    <span>
                        <mat-icon>add_alert</mat-icon>
                    </span>
                    <span>
                        <mat-icon>person_add</mat-icon>
                    </span>

                    <div>
                        <mat-icon button mat-button [matMenuTriggerFor]="palette">palette</mat-icon>
                    </div>
                    <mat-menu #palette="matMenu" yPosition="below"  >
                        <div class="colors"fxLayout="row wrap">
                            <div (click)="color(i)" *ngFor="let i of colorCodes" class="circle" [ngStyle]="{'background':i}">
                            </div>
                        </div>
                    </mat-menu>


                    <span>
                        <mat-icon>photo</mat-icon>
                    </span>
                    <span>
                        <mat-icon>archive</mat-icon>
                    </span>

                    <button mat-button colour="primary" (click)="onSubmit()">Close</button>
                </div>

            </mat-card-content>
        </form>
    </mat-card>

    <app-shownotes></app-shownotes>

</div>