<div fxLayout="row wrap" fxLayoutAlign="start center" style="background-color:white" class="flexbackground">

    <mat-card class="size" style="background-color:white" *ngFor="let i of allNotes">

        <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly"  [ngStyle]="{'background':paint}">
            <div (click)="popUp(i)" fxLayout="column" fxLayoutAlign="start none">
                <div>
                    {{i.title}}
                </div>
                <div>
                    {{i.discription}}
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-around center">
                <span>
                    <mat-icon>palette</mat-icon>
                </span>
                <span>
                    <mat-icon>archive</mat-icon>
                </span>

                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onDelete(i)">Delete note</button>
                </mat-menu>
            </div>
        </mat-card-content>
    </mat-card>
</div>