<div class="main" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="matCard">
    <mat-card-title class="matCardTitle" fxLayoutAlign="center center">
        <h2> <span style="color:skyblue;font-weight:bold">f</span>
          <span style="color:orangered;font-weight:bold">u</span>
          <span style="color:yellow;font-weight:bold">n</span>
          <span style="color:skyblue;font-weight:bold">d</span>
          <span style="color:green;font-weight:bold">o</span>
          <span style="color:orangered;font-weight:bold">o</span>
          </h2>
    </mat-card-title>
    
    <div>
    <mat-card-subtitle class="matCardSubTitle" fxLayoutAlign="center center">
      <h2>Reset password</h2>
    </mat-card-subtitle>
    </div>
    <div>
      <form [formGroup]="resetpasswordForm">
        <div>
     
          <div class="main" fxLayout="column" fxLayoutAlign="center center" id="newPass"></div>
          <div class="example-container">
              
            <mat-form-field   appearance="outline" class="input-style" fxFlex>
                <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Enter your new password" formControlName="password"
                [type]="hide ? 'password' : 'text'" [(ngModel)]="password.password" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
          </div>
          <div class="example-container">
              
            <mat-form-field appearance="outline" class="input-style" id="confirmPass" fxFlex>
                <mat-label>Confirm Password</mat-label>
              <input type="password" matInput placeholder="Enter your confirm password"
                formControlName="confirmPassword" [type]="hide ? 'password' : 'text'"
                [(ngModel)]="password.confirmPassword" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
          </div>
          <div class="buttons"> 
            <button mat-raised-button  color="primary" (click)="onReset()" fxLayoutAlign="center center">submit</button>
          </div>