.flexbackground
{
    margin-left: 5%;
    // margin-right: 5%; 
   
    
}

.size
{
    width : 100%;
    height : 100%;
    // margin-right: 5%;
    // margin-left: 5%;
    // margin-bottom: auto;
    // margin-top: 3%;
    // border-radius: 02%;
    // box-shadow: 0 8px 16px 0 rgba(189, 83, 83, 0.459); 
    // align-content: center 
}
.adjustment
{
    height: 60%; 
}
.inputadj
{
    height: 45px;
    width: 550px;
    border: none;
}
.discriptionAdjust
{
    height: 45px;
    width: 550px;
    border: none;
    
}


.board {
    margin-top: 10%;
}

